/* hidden class : 특정 요소에 hidden class를 주면 해당 요소를 숨기게 됨 */
.hidden {
    display: none;
}

* {
    font-family: 'D2Coding';
}

/* 전체 배경 */
body {
    color: honeydew;
    background-color: rgb(218, 126, 126);
    display: flex;           /* 중앙 배치 */
    flex-direction: column;  /* 수직 배치 */
    align-items: center;
    /* padding: 32px 20px; */
}

.todolist {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 15%;
}

.list-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 15%;
    background-color: slategray;
}

#clock {
    font-size: 48px;
}

/* 안녕하세요 ** 님 */
h3 {
    font-size: 24px;
}

#quote {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
    text-align: center;
    font-size: 24px;
}

#weather {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
    text-align: center;
    font-size: 18px;
}