/* hidden class : 특정 요소에 hidden class를 주면 해당 요소를 숨기게 됨 */
.hidden {
    display: none;
}

/* 전체 */
* {
    font-family: 'D2Coding';
}

body {
    display: flex;           /* 중앙 배치 */
    flex-direction: column;  /* 수직 배치 */
    align-items: center;
    color: honeydew;
}

img {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width:max-content;
    height:max-content;
    margin: auto 0;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

.header {
    margin: 2px 2px;font-family: 'D2Coding';
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20em;
    width:120em;
    text-align: center;
    /* margin: auto 0; */
}

.todolist {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 20em;
    height: auto;
    border: 3px solid deepskyblue;
    border-radius: 3px;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.4);
}

.list-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 24px;
}

#weather {
    font-size: 23px;
}

#clock {
    font-size: 52px;
}

/* 안녕하세요 ** 님 */
#greeting {
    font-size: 36px;
}

#quote {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 24px;
}